.container {
    background-color: #2C2D34;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    overflow-y: scroll;
}

.wrapper {
    background-color: #2C2D34;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
    .table-container {
        background-color: #ffffff;
        width: 1000px;
        max-height: 50vh;
        overflow-y: scroll;
        padding: 1em 0;

        .table-header {
            padding: 0 3em;
        }

        .table {
            padding: 0 3em;
        }
    }
}