body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

button, input[type=submit], input[type=button] {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    margin-right: 0.5em;
    padding: 1em 2em;

    &:last-child {
        margin-right: 0;
    }

    &:focus {
        outline: 0;
    }
}