$button-padding: 1em 2em;

.form-card {
    background-color: #ffffff;
    max-height: 50vh;
    overflow-y: scroll;
    padding: 3em;
    display: flex;
    flex-direction: column;

    .input-wrapper {
        margin: 0.5em 0;
        width: 100%;

        .formInput {
            font-family: 'Karla', sans-serif !important;
            text-transform: uppercase;
        }

        .formInputError {
            text-transform: lowercase;
        }

        .errorMessage {
            color: red;
            padding: 0.5em 0;
        }
    }

    .button-wrapper {
        display: flex;

        input {
            flex: 1;
            padding: $button-padding;
            border-radius: 0;
        }
    }

    .submit-button {
        padding: $button-padding;
        background-color: #d2d2d2;
    }
}