$button-padding: 1em 2em;

.form-card {
    background-color: #ffffff;
    box-shadow: 0 2px 44px rgba(0, 0, 0, .2);
    width: 50vw;
    padding: 3em;
    display: flex;
    flex-direction: column;

    .input-wrapper {
        margin: 0.5em 0;
        width: 100%;
        input {
            border: 1px solid #d2d2d2;
            box-sizing: border-box;
            font-family: 'Karla', sans-serif;
            font-size: 0.9em;
            text-transform: uppercase;
            width: 100%;
            padding: 1em;
            transition: all 0.2s ease-in-out;
        }
    }

    .button-wrapper {
        display: flex;

        input {
            flex: 1;
            padding: $button-padding;
            border-radius: 0;
        }
    }

    .submit-button {
        padding: $button-padding;
        background-color: #d2d2d2;
    }
}